.root {
  text-align: center;
  padding: 100px 20px 20px 20px;
  box-sizing: border-box;
}

@media screen and (max-width: 480px) {
  .root {
    padding-top: 14px;
  }
}

.arrow {
  color: #fff;
}
.arrow > span {
  font-size: 65px;
}
.controls {
  padding: 0 6px;
  color: #333;
  font-size: 22px;
  user-select: none;
}

input.quantity {
  background: white;
  border: none;
  border-radius: 4px;
  outline: none;
  width: 100%;
  text-align: center;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.selected {
  font-weight: bold;
}

nav.footer {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
}
nav.footer i {
  color: #fff;
  font-size: 2rem;
}
