.root {
  text-align: center;
  background-color: #1f1e1e;
  height: 100vh;
  padding: 100px 20px 20px 20px;
  box-sizing: border-box;
}

.arrow {
  color: #fff;
}
.arrow > span {
  font-size: 65px;
}

input.quantity {
  background: white;
  border: none;
  border-radius: 4px;
  outline: none;
  width: 100%;
  text-align: center;
}

.selected {
  font-weight: bold;
}
